{% extends "layout.html" %}

{% set pageTitle %}Bluesky post milestone{% endset %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block header_content %}
<h1>{{ pageTitle }}</h1>

<p>Discover your next post milestone on Bluesky, view stats on your posts and how often you’ll need to post to reach
  your milestone by your next anniversary.</p>
{% endblock %}

{% block content %}
<p>Enter your Bluesky handle below to find out when your next post milestone is.</p>

<div class="form-group{% if errors %} form-error{% endif %}">
  <form class="" action="/" method="post" id="form-handle">
    <label for="input-handle">Bluesky handle</label>

    {% if errors %}
    <div class="error-message">{{ errors[0].msg }}</div>
    {% endif %}

    <input type="text" name="handle" value="{{ handle }}" id="input-handle">

    <button type="submit">Get milestone</button>
  </form>
</div>
{% endblock %}

{% block scripts %}{% include "includes/_form-script.html" %}{% endblock %}