{% extends "layout.html" %}

{% set pageTitle %}{{handle}}'s post milestone{% endset %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block header_content %}
<div class="milestone-header">
  <h1>{{ pageTitle }}</h1>
</div>

<div class="milestone">
  <span>{{ postDifference | formatNumber }}</span>
  posts to reach your {{ nextMilestone | formatNumber }} posts milestone
</div>
{% endblock %}

{% block content %}
<p>Your {{ (ageYears + 1) | formatOrdinal }} anniversary is in {{ nextAnniversary | formatNumber }}.</p>

<p>You will need to post at least {% if postTimes == 1 %} once {% else %} {{ postTimes | formatNumber }} times
  {% endif %} a day to reach your milestone by then.</p>

<p>You've posted {{ postCount | formatNumber }} times. An average of {{ averagePosts | formatNumber }} posts a day.</p>
{% endblock %}